<main>
  <table>
    <tr class="columns">
      <th>Rank</th>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Number of <br />consumer</th>
      <th>Number of <br />transaction</th>
      <th>Revenue</th>
      <th>Score</th>
    </tr>
    {{#each data}}
      <tr class="card">
        <td class="rankNum">{{this.rank}}</td>
        <td>{{this.name}}</td>
        <td>{{this.tags}}</td>
        <td class="consumerNum">{{this.pred_total_num_consumer}}</td>
        <td class="numTransaction">{{this.pred_total_num_transaction}}</td>
        <td class="totalRevenue">{{this.pred_total_revenue}}</td>
        <td>
          <progress value={{this.score}} max="100"></progress>
          <span class="scoreNum">{{this.score}}</span>
        </td>
      </tr>
    {{/each}}
  </table>
</main>